.pet-edit {
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.pet-form-container {
    justify-content: center;
    align-items: center;

}

.pet-form {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sumbit-button:hover {
    color: white;
    background: gray;
    cursor: pointer;
  }

.sumbit-button{
    background: #68A691;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: white;
    border-radius: 10px;
}
